<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="/js/validateparameter.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("form").submit(function(){
          
          if(!isValidIP($("#HOST").val()))
          {
            // alert('输入的HOST 非法');

            //返回false禁止向服务器发送请求
            $('#popupCloseRight').trigger('create').popup('open');
            return false;
          }
          if(!isValidPort($("#PORT").val()))
          {
            // alert('输入的PORT 非法');
            $('#popupCloseRight').trigger('create').popup('open');
            //返回false禁止向服务器发送请求
            return false;
          }
          if(!isValidGroup($("#GROUP").val()))
          {
            // alert('输入的GROUP 非法');
            $('#popupCloseRight').trigger('create').popup('open');
            //返回false禁止向服务器发送请求
            return false;
          }
      });
    })
    </script>
</head>

<body>

  <div data-role="page">
    <div data-role="header">
      <h1>设备配置</h1>
    </div>
    <div data-role="content">
      <form method="post" action="/save">
        <div data-role="fieldcontain">
          <table align="center">
            <tr>
              <% if(configobj['accessories'].length > 0) { %>
                <td>
                  <label for="HOST">设备 IP</label>
                </td>
                <td>
                  <input id="HOST" type="text" name="HOST" value=<%= configobj['accessories'][0].HOST %> >&nbsp;&nbsp;
                </td>
                <% } else { %>
                  <td>
                    <label for="HOST">设备 IP</label>
                  </td>
                  <td>
                    <input id="HOST" type="text" name="HOST" value=''>&nbsp;&nbsp;
                  </td>
                  <% }%>
            </tr>
            <tr>
                <% if(configobj['accessories'].length > 0) { %>
                  <td>
                    <label for="PORT">设备 端口</label>
                  </td>
                  <td>
                    <input id="PORT" type="text" name="PORT" value=<%= configobj['accessories'][0].PORT %> >&nbsp;&nbsp;
                  </td>
                  <% } else { %>
                    <td>
                      <label for="PORT">设备 端口</label>
                    </td>
                    <td>
                      <input id="PORT" type="text" name="PORT" value=''>&nbsp;&nbsp;
                    </td>
                    <% }%>
              </tr>
              <tr>
                  <% if(configobj['accessories'].length > 0) { %>
                    <td>
                      <label for="GROUP">设备 组号</label>
                    </td>
                    <td>
                      <input id="GROUP" type="text" name="GROUP" value=<%= configobj['accessories'][0].GROUP %> >&nbsp;&nbsp;
                    </td>
                    <% } else { %>
                      <td>
                        <label for="GROUP">设备 组号</label>
                      </td>
                      <td>
                        <input id="GROUP" type="text" name="GROUP" value=''>&nbsp;&nbsp;
                      </td>
                      <% }%>
                </tr>
          </table>
        </div>
        <input type="submit" value="提交" >
      </form>
      <div data-role="collapsible-set">
          <div data-role="collapsible">
            <h3>查看附件列表</h3>
            <ul data-role="listview" data-inset="true">
              <!-- <li data-icon="info">
                <a href="#">data-icon="info"</a>
              </li> -->
              <% for(var i =0; i < configobj['accessories'].length;i++) { %>
                <!-- <li><%= JSON.stringify(configobj['accessories'][i].HOST) %> &nbsp;&nbsp;<%= JSON.stringify(configobj['accessories'][i].PORT) %>&nbsp;&nbsp;<%= JSON.stringify(configobj['accessories'][i].GROUP) %> &nbsp;&nbsp;<%= JSON.stringify(configobj['accessories'][i].name) %> &nbsp;&nbsp; -->
                  <li data-icon="info"><a href="#"><%= configobj['accessories'][i].name %> &nbsp;&nbsp;</a>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
    </div>
    <div data-role="footer">
        <div align="center"><a href="mailto:centurygate@163.com">centurygate@163.com</a></div>
      </div>
  

      <div data-role="popup" id="popupCloseRight" data-overlay-theme="a" class="ui-content" style="max-width:280px">
              <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
          <p>&nbsp;&nbsp;存在非法参数&nbsp;&nbsp;</p>
          </div>

</body>

</html>